/* Contact form. */
#poststuff .county-contact-form h2 {
	margin: 0;
}
.county-contact-form div {
	border-radius: 1px;
	box-sizing: border-box;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 14px;
	height: 2rem;
	line-height: 1;
	margin: 0 0 8px;
	padding: 0.5rem;
	width: 100%;
}
.county-contact-form div:not(.county-contact-form-submit) {
	background: #fff;
	border: 1px solid #5e6a71;
	color: #8d959a;
	font-style: italic;
}
.county-contact-form p {
	color: #8d959a;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	margin: 0;
	padding-left: 0.5rem;
}
.county-contact-form textarea {
	background: #fff;
	border-radius: 1px;
	border: 1px solid #5e6a71;
	width: 100%;
}
.county-contact-form .county-contact-form-submit {
	background: #981e32;
	color: #fff;
	font-size: 0.9rem;
	font-weight: bold;
	margin-top: 8px;
	padding: 0.6em;
	text-align: center;
	width: 100%;
}
/* Site search. */
.cahnrs-search {
	position: relative;
}
.cahnrs-search-field {
	background: #fff;
	border-radius: 1px;
	border: 1px solid #5e6a71;
	box-sizing: border-box;
	color: #8d959a;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	font-size: 14px;
	height: 2rem;
	line-height: 1;
	margin: 0;
	padding: 0.5rem 2rem 0.5rem 0.5rem;
	font-style: italic;
	width: 100%;
}
.cahnrs-search-submit {
	background: #5e6a71;
	border: none;
	border-radius: 1px;
	color: #fff;
	font-family: Spine-Icons;
	font-size: 1em;
	height: 2rem;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 2rem;
}
.cahnrs-search-submit .dashicons-search {
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: scaleX(-1) translateY(-50%);
	transform: scaleX(-1) translateY(-50%);
}
/* Social media things */
.county-social-media-embed {
	overflow: hidden;
}
/* Programs */
#poststuff h3.county-programs-title {
	color: #5e6a71;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-size: 26px;
	padding: 12px 0 5px 0;
}
.county-programs {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 8px 0 0;
}
.county-programs li {
	box-sizing: border-box;
	display: inline-block;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding-bottom: 1rem;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	width: 50%;
}
.county-programs li:nth-of-type(odd) {
	clear: left;
	padding-right: 1rem;
}
.county-programs li:nth-of-type(even) {
	padding-left: 1rem;
}
.county-programs li a {
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-position: 0.5rem center;
	background-repeat: no-repeat;
	background-size: 1.5rem;
	border: 1px solid #981e32;
	box-sizing: border-box;
	color: #981e32;
	display: block;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: flex-start; 
	justify-content: center;
	padding: 0.5rem 2.5rem;
	text-align: center;
	text-decoration: none;
	-webkit-transition: background .2s linear, color .2s linear;
	transition: background .2s linear, color .2s linear;
	width: 100%;
}
.county-programs li.four-h a {
	background-image: url(../program-icons/four-h.png);
	border-color: #008138;
	color: #008138;
}
.county-programs li.ag a {
	background-image: url(../program-icons/ag.png);
	border-color: #c69214;
	color: #c69214;
}
.county-programs li.ced a {
	background-image: url(../program-icons/ced.png);
	border-color: #b67233;
	color: #b67233;
}
.county-programs li.family a {
	background-image: url(../program-icons/family.png);
	border-color: #4f868e;
	color: #4f868e;
}
.county-programs li.food a {
	background-image: url(../program-icons/food.png);
	border-color: #c4922c;
	color: #c4922c;
}
.county-programs li.gardening a {
	background-image: url(../program-icons/gardening.png);
	border-color: #7a451d;
	color: #7a451d;
}
.county-programs li.natural-resources a {
	background-image: url(../program-icons/natural-resources.png);
	border-color: #8f7e34;
	color: #8f7e34;
}
/* Showcase */
#poststuff .landing-page-showcase {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}
.landing-page-showcase:after {
  content: "";
  display: table;
  clear: both;
}
.landing-page-showcase .featured,
.landing-page-showcase .syndicated {
	box-sizing: border-box;
	float: left;
}
.county-responsive-media {
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}
.landing-page-showcase .featured {
	padding: 0 0.5rem 0 0;
	width: 67%;
}
.landing-page-showcase .syndicated {
	padding: 0 0 0 1.5rem;
	width: 33%;
}
.landing-page-showcase .county-responsive-media {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.landing-page-showcase .syndicated .county-responsive-media {
	padding-bottom: 55%;
}
.landing-page-showcase .county-responsive-media a {
	height: 100%;
	position: absolute;
	width: 100%;
}
.landing-page-showcase .article-header,
.landing-page-showcase .article-summary {
	background-color: rgba(35,40,43,0.6);
	color: #fff;
	padding: 0.5rem;
	position: absolute;
	transition: background-color .2s ease-in-out;
}
.landing-page-showcase .county-responsive-media a:hover .article-header,
.landing-page-showcase .county-responsive-media a:hover .article-summary {
	background-color: rgba(35,40,43,0.95);
}
.landing-page-showcase .featured .article-header {
	top: 1rem;
}
#poststuff .landing-page-showcase h2 {
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
#poststuff .landing-page-showcase .syndicated h2 {
	font-size: 14px;
	font-weight: normal;
}
.landing-page-showcase .article-summary,
.landing-page-showcase .syndicated .article-header {
	bottom: 0;
	box-sizing: border-box;
	width: 100%;
}
.landing-page-showcase .syndicated .county-responsive-media:first-of-type {
	margin-bottom: 2rem;
}
.landing-page-showcase .syndicated .article-title {
	font-size: 1em;
	font-weight: normal;
}
.landing-page-showcase .article-summary p {
	margin: 0;
}
.landing-page-showcase .article-summary p:last-of-type {
	padding-bottom: 0;
}


/* Slideshow
.county-responsive-media {
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}
.county-slideshow .county-responsive-media {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.county-slideshow .county-responsive-media a {
	height: 100%;
	position: absolute;
	width: 100%;
}
.county-slideshow .article-header {
	background-color: rgba(35,40,43,0.6);
	bottom: 0;
	box-sizing: border-box;
	color: #fff;
	padding: 0.5rem;
	position: absolute;
	transition: background-color .2s ease-in-out;
	width: 100%;
}
.county-slideshow .county-responsive-media a:hover .article-header {
	background-color: rgba(35,40,43,0.95);
}
#poststuff .county-slideshow h2.article-title {
	color: #fff;
	font-size: 1.1em;
	line-height: normal;
	margin: 0;
	padding: 0;
}
.cycle-pager {
	color: #d7dadb;
	font-size: 3rem;
	line-height: 1;
	text-align: center;
}
.cycle-pager span {
	cursor: pointer;
	margin: 0.25rem;
}
.cycle-pager span:hover,
.cycle-pager-active {
	color: #23282b;
} */