.landing-page-showcase:after {
  content: "";
  display: table;
  clear: both;
}
.landing-page-showcase .featured,
.landing-page-showcase .syndicated {
	box-sizing: border-box;
	float: left;
}
.landing-page-showcase .featured {
	padding: 0 0.5rem 0 0;
	width: 67%;
}
.landing-page-showcase .syndicated {
	padding: 0 0 0 1.5rem;
	width: 33%;
}
.landing-page-showcase .county-responsive-media {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.max-990 .landing-page-showcase .syndicated .county-responsive-media {
	padding-bottom: 55%;
}
.max-1188 .landing-page-showcase .syndicated .county-responsive-media {
	padding-bottom: 55.4%;
}
/*.landing-page-showcase .syndicated .county-responsive-media:first-of-type {
	margin-bottom: 2rem;
}*/
.landing-page-showcase .county-responsive-media a {
	height: 100%;
	position: absolute;
	width: 100%;
}
.landing-page-showcase .article-header,
.landing-page-showcase .article-summary {
	background-color: rgba(35,40,43,0.6);
	color: #fff;
	padding: 0.5rem;
	position: absolute;
	transition: background-color .2s ease-in-out;
}
.landing-page-showcase .county-responsive-media a:hover .article-header,
.landing-page-showcase .county-responsive-media a:hover .article-summary {
	background-color: rgba(35,40,43,0.95);
}
.landing-page-showcase .featured .article-header {
	top: 1rem;
}
.landing-page-showcase .article-title {
	font-size: 1.1em;
	line-height: normal;
	padding: 0;
}
.landing-page-showcase .article-summary,
.landing-page-showcase .syndicated .article-header {
	bottom: 0;
	box-sizing: border-box;
	width: 100%;
}
.landing-page-showcase .syndicated .article-title {
	font-size: 1em;
	font-weight: normal;
}
.landing-page-showcase .syndicated a:hover .article-title:after {
	content: " \21AA";
	font-family: Spine-Icons;
	font-size: 0.9em;
	position: relative;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
.landing-page-showcase .article-summary p:last-of-type {
	padding-bottom: 0;
}
@media only screen and (max-width:693px) {
	.landing-page-showcase .featured,
	.landing-page-showcase .syndicated {
		padding: 0;
		width: 100%;
	}
	.landing-page-showcase .featured .article-header {
		bottom: 0;
		top: auto;
	}
	.landing-page-showcase .syndicated .article-title {
		font-size: 1.1em;
		font-weight: bold;
	}
	.landing-page-showcase .article-summary {
		display: none;
	}
	.landing-page-showcase .syndicated .county-responsive-media {
		padding-bottom: 56.25%;
	}
}