.county-slideshow .county-responsive-media {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.county-slideshow .county-responsive-media a {
	height: 100%;
	position: absolute;
	width: 100%;
}
.county-slideshow .article-header {
	background-color: rgba(35,40,43,0.6);
	bottom: 0;
	box-sizing: border-box;
	color: #fff;
	padding: 0.5rem;
	position: absolute;
	transition: background-color .2s ease-in-out;
	width: 100%;
}
.county-slideshow .county-responsive-media a:hover .article-header {
	/*background-color: rgba(198,12,48,0.9);*/
	background-color: rgba(35,40,43,0.95);
}
.county-slideshow .article-title {
	font-size: 1.1em;
	line-height: normal;
	padding: 0;
}
.cycle-pager {
	color: #d7dadb;
	font-size: 3rem;
	line-height: 1;
	text-align: center;
}
.cycle-pager span {
	cursor: pointer;
	margin: 0.25rem;
}
.cycle-pager span:hover,
.cycle-pager-active {
	color: #23282b;
}